
					<!-- Footer -->
					<tr bgcolor="#ffffff">
						<td>
							<img src="out_images/spacer.gif" width="<%= size %>" height="40" border="0" alt="">
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td>
							<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="<%= size %>">
								<tr>
									<td>
										<img src="out_images/spacer.gif" width="80" height="44" border="0" alt="">
									</td>
									<td>
										<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="14">
											<tr>
												<td>
													<img src="out_images/arrow.gif" width="14" height="22" border="0" alt="">
												</td>
											</tr>
											<tr>
												<td>
													<img src="out_images/arrow.gif" width="14" height="22" border="0" alt="">
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="203">
											<tr>
												<td height="22" style="font-size:10pt; line-height:1;">
													<a href="http://nestle.jp/change.html" target="_blank" style="font-size:10pt; line-height:1.4 !important;">パスワード／登録情報のご変更</a>
												</td>
											</tr>
											<tr>
												<td height="22" style="font-size:10pt; line-height:1;">
													<a href="https://nestle.jp/inquiry/form/userpolicy.php" target="_blank" style="font-size:10pt; line-height:1.4 !important;">本メールに関するお問合せ</a>
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="14">
											<tr>
												<td>
													<img src="out_images/arrow.gif" width="14" height="22" border="0" alt="">
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="305">
											<tr>
												<td height="22" style="font-size:10pt; line-height:1;">
													<a href="https://nestle.jp/login.php?menu=mailtype_change" target="_blank" style="font-size:10pt; line-height:1.4 !important;">HTMLメール／テキストメール配信形式変更</a>
												</td>
											</tr>
										</table>
									</td>
									<td>
										<img src="out_images/spacer.gif" width="24" height="44" border="0" alt="">
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td>
							<img src="out_images/spacer.gif" width="<%= size %>" height="30" border="0" alt="">
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td style="font-size:10pt; line-height:1.4; text-align: center; color:#5e5e5e;" height="74">送信者：　ネスレ グループ（C） Nestle Group All Rights Reserved.
							<br>651-0087　兵庫県神戸市中央区御幸通7-1-15
							<br>許可なく転載することを禁じます。
						</td>
					</tr>
					<!-- /Footer -->

				</table>
			</center>
		</div>
	</body>
</html>