
					<!-- WebLink -->
					<tr bgcolor="<%= bgColor %>">
						<td height="27" style="font-size:10pt; line-height:1; text-align:center; padding-top: 10px;">
							<a href="<%= dir %>index_webup.html" class="fc_1" target="_blank" style="font-size:10pt; color:<%= textLinkColor %>; line-height:1.4 !important;">※画像が上手く表示されない方は、こちらをクリックしてください。</a>
						</td>
					</tr>
					<!-- /WebLink -->